body {
	background: pink;
	color: black;
	text-shadow: 2px 2px 5px #E21393;
	font-family: 'Arial', sans-serif;
	text-align: center;
	margin: 0;
	background-image: url(https://i.pinimg.com/originals/b6/0d/ea/b60deab993d0d205d0ae3abc0a79f598.gif);
	
  }

div {
	background: white;
	
  }
.loading {
	background: pink;
  }
.aletter {
	width: 250px;
	height: auto;
	border: 1px solid grey;
	margin: 0 auto;
	padding: 50px;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	color: #000030;
	line-height: 20px;
	text-align: justify;
}  
.tomy {
	width: 190px;
	height: 30px;
	color: #000030;
	font-family: 'Indie Flower';
	font-size: 20px;
	transform: rotate(-5deg);
  }
